@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #7765E3;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.footer {
    background-color: #A7D8F4;
    color: #333;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
